.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 80px;
}

.p {
    font-size: 20px;
}

.button {
  background-color: #705257c0;
  color: white;
  border: 1px transparent solid;
  border-radius: 4px;
  width: 160px;
  align-self: center;
}

.button:hover,
.button:focus {
  background-color: #705257;
}
