:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 12px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e1e1e1c4;
}

h1,
p {
  margin: 0;
  color: black;
  display: inline-block;
}

input {
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cc1515;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #3b2b2d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #3b2b2d;
  }
  button {
    background-color: #dedede;
  }
}
